<div class="comment">
  <div class="section_title">
    <h3>レビュー</h3>
    <i class="fas fa-angle-down"></i>
  </div>
  <% if comments.blank? %>
    <p>まだレビューはありません</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>投稿日</th>
          <th>体験者</th>
          <th>体験名</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <% comments.each do |comment| %>
          <tr>
            <td><%= comment.created_at.strftime("%Y/%m/%d") %></td>
            <td><%= comment.customer.name %></td>
            <td><%= comment.service.catchphrase %></td>
            <td><%= comment.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>