<div class="from_customer_title">
  <h4>申込者</h4>
</div>
<div class="from_customer_image">
  <% customer = appointment.partner_customer(current_customer.id) %>
  <%= attachment_image_tag(customer, :image, size: "200x180", format: "jpeg", fallback: "no-image.png", class: "img-circle") %>
</div>
<div>
  名前：<%= customer.name %>
</div>
<div>
  <span>
    打合せ希望日時：
    <% if appointment.request_date == "undecided" %>
      未定
    <% else %>
      <%= appointment.request_date.to_datetime.strftime("%Y年%m月%d日 %H:%M") %>
    <% end %>
  </span>
</div>
<div>
  打合せ希望形式：<%= appointment.request_format_i18n %>
</div>