<div class="appointment_complete">
  <p>ホストとチャットで会話できるようになりました。ホストからの返信をお待ちください。</p>
<div>
<div class="btn_green">
  <span>
    <i class="fa fa-check-circle"></i>
    <%= link_to  "申込状況一覧を開く", appointments_path %>
  </span>
</div>