<div class="about_wrap">
  <div class="about_title">
    <h3 class="about_icon">概要</h3>
    <span>Shexp(シェクスプ／Share Experience)は、当たり前の体験を無料でシェアできるサービスです。自分にとっての当たり前は他人にとって貴重な経験になり得るという視点から作成しました。多数のユーザと積極的に体験をシェアして、トップShexper(シェクスパー)を目指しましょう。</span>
  </div>
  <div>
    <h3 class="about_icon">Shexperとは？</h3>
    <div>
      <span>本サービスに会員登録している全てのユーザです。</span>
    </div>
    <h3 class="about_icon">トップShexperとは？</h3>
    <div>
      <span>獲得EXPが多いShexperです。<br>
      Shexperには会員登録時に、一律で500ポイント(point/pt)が配られます。このポイントは、体験の利用時に使用できます。体験完了後に体験の利用に必要なポイントが利用者のポイント残高から差し引かれて、提供者の獲得EXPに加算されます。この獲得EXPが多いShexperがトップShexperとなります。<br>
      (ポイントの再配布は、全Shexperに対して一律で実施される予定です。再配布時期は未定です。)</span>
    </div>
  </div>
  <div class="flow_wrap">
    <h3 class="about_icon">体験を利用する主な流れ</h3>
    <div class="experience_flow">
      <table>
        <thead class="experience_flow_thead">
          <th>利用者</th>
          <th></th>
          <th>提供者</th>
        </thead>
        <tbody>
          <tr>
            <td class="table_content">利用したい体験の「公開中」ボタンをクリックして、体験詳細ページに移動する</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="arrow"><i class="fas fa-arrow-down"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="table_content">「申し込む／話を聞く」をクリックする</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="arrow"><i class="fas fa-arrow-down"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="table_content">希望日、事前打ち合わせ希望形式、初回メッセージを入力後、「申し込む／話を聞く」をクリックする</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="arrow"><i class="fas fa-arrow-down"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="table_content">チャットを開いて提供者からの連絡を待つ</td>
            <td class="arrow"><i class="fas fa-arrow-right"></i></td>
            <td class="table_content">チャットにて体験利用希望者と会話する</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="arrow"><i class="fas fa-arrow-down"></i></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="table_content">体験の利用意思、日程調整後、申込状況の承認待ち一覧から対象の申込を承認する</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="arrow"><i class="fas fa-arrow-down"></i></td>
          </tr>
          <tr>
            <td class="table_content">体験を利用する</td>
            <td class="arrow"><i class="fas fa-arrow-left"></i></td>
            <td class="table_content">体験を提供する</td>
          </tr>
          <tr>
            <td class="arrow"><i class="fas fa-arrow-down"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="table_content">体験完了後、チャット画面からレビューを投稿して体験を完了する</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="arrow"><i class="fas fa-arrow-down"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="table_content">提供者にポイントが支払われる</td>
            <td class="arrow"><i class="fas fa-arrow-right"></i></td>
            <td class="table_content">提供者のポイントが獲得EXPに加算される</td>
          </tr>
        </tbody>
      </table>
    </div>
  <div>
</div>