<div class="about_wrap">
  <div class="about_title">
    Shexpは、自分にとっての当たり前は他人にとって貴重な経験になり得るという視点から作成した、当たり前の体験を気軽にシェアできるサービスです。積極的に体験をシェアして、トップShexperを目指しましょう。</div>
  <div>
  <h3>体験利用の流れ</h3>
  <div class="experience_flow">
    <div class="user_flow">
      <ol>
        <li>利用したい体験を見つける</li>
        <li>「公開中」ボタンをクリックして、体験詳細ページに移動する</li>
        <li>「体験利用手続きに進む／話だけでも聞いてみる」をクリックする</li>
        <li>希望日、事前打ち合わせ希望形式、初回メッセージを入力後、「申し込む／話を聞く」をクリックする</li>
        <li>チャット開いて提供者からの連絡を待つ</li>
        <li></li>
        <li></li>
        <li>体験を利用</li>
        <li>利用完了後、チャット画面からレビューを投稿して体験を完了する</li>
      </ol>
    </div>
    <div class="host_flow">
      <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li>チャットにて体験利用希望者と会話する</li>
        <li>日程の調整ができたら、申込状況一覧の承認待ちの中から、対象の申込を選んで「承認」をクリックする</li>
        <li>体験を提供</li>
        <li>体験を提供</li>
      </ol>
    </div>
  </div>
</div>