<div class="about_wrap">
  <div class="about_title">
    <h1><strong>あなたにとっての当たり前は、他人にとって面白い</strong></h1>
  </div>
  <div>Shexpは、自分にとっての当たり前は他人にとって貴重な経験になり得るという視点から作成した、当たり前の体験を気軽にシェアできるサービスです。積極的に体験をシェアして、トップShexperを目指しましょう。</div>
  <div>
    <h1>ご利用の流れ</h1>
    <ol>
      <li>利用したい体験を見つける</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>
</div>