<div class="service_image">
  <%= attachment_image_tag(@service, :image, size: "60%x350", format: "jpeg", fallback: "no-image.png") %>
</div>
</div class="customer_image">
  <%= attachment_image_tag(@service.customer, :image, size: "200x180", format: "jpeg", fallback: "no-image.png") %>
</div>