<table>
  <thead>
    <tr>
      <th>相手</th>
      <th>メッセージ</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td>
          <% if appointment.from_customer_id == current_customer.id %>
            <% customer_id = appointment.to_customer_id %>
          <% elsif appointment.to_customer_id == current_customer.id %>
            <% customer_id = appointment.from_customer_id %>
          <% end %>
          <% customer = Customer.find(customer_id) %>
          <%= customer.name %>
        </td>
        <td>
          <% comment = AppointmentComment.find(appointment.id) %>
          <%= link_to appointment_comment_path(comment.id) do %>
            <%= comment.content %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>