<h3><% binding.pry %>
  <%= @appointment.partner_customer(current_customer.id).name %> さんとのチャット
</h3>
<div>
  <% @appointment_comments.each do |comment| %>
    <div><%= comment.content %></div>
  <% end %>
</div>
<div>
  <% if @appointment.from_customer_id == current_customer.id %>
    <%= link_to  "体験が終わったのでレビューに進む", "" %>
    <p>ホストにポイントが支払われます。</p>
  <% end %>
</div>