/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCFCF0;
}

header {
  background-color: rgba(204, 80, 46, 0.9);
  color: white;
  .header-content {
    display: flex;
    justify-content: space-between;
    .flex {
      display: flex;
      margin-bottom: 0;
      li {
        list-style: none;
        margin: 20px;
        a {
          text-decoration: none;
          color: white;
        }
        a:hover {
          color: lightgrey;
          background-color:  rgba(204, 80, 46, 0.1);
        }
      }
    }
  }
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.service_item .comment {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}