/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./
 *= require_self
 */

/* bootstrap使用のため以下追記 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* font-awesome使用のため以下追記 */
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// エラーメッセージ
#error_explanation {
  color: red;
  padding-bottom: 20px;
  width: 75%;
  margin: 0 auto;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    padding-left: 50px;
    list-style: circle;
  }
}

.field_with_errors {
  display: inline-block;
  input,
  textarea {
    border: 1px solid red;
  }
}

// flashメッセージ
.alert {
  width: 90%;
  margin: 0 auto 20px;
}

// 全体
body {
  background-color: #FCFCF0;
  font-family: "Noto Sans Japanese";
  font-size: 14px;
  color: #656565;
  letter-spacing: 0.05em;
  line-height: 1.8em;
  font-weight: normal;
}

main {
  margin: 100px 0 50px;
}

.nothing_sentence {
  text-align: center;
}

// ヘッダ
header {
  background-color: rgba(204, 80, 46, 1);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  .header_content {
    display: flex;
    justify-content: space-between;
    .logo a {
      background-image: image-url("logo.jpg");
      background-size: cover;
      display: block;
      width: 200px;
      height: 70px;
      span {
        visibility: hidden;
      }
    }
    .logo a:hover {
      opacity: 0.9;
    }
    .welcome_header {
      margin: auto;
      .welcome_header_content {
        margin: auto 0;
        text-align: center;
        padding-right: 100px;
      }
    }
  }
}

// ヘッダナビゲーション
// ナビゲーションのアイコン
#nav-icon{
  position: fixed;
  right: 20px;
  top: 11px;
  z-index: 10;
  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: white;
      border-radius: 4px;
    }
    span:nth-of-type(1) {
      top: 0;
    }
    span:nth-of-type(2) {
      top: 20px;
    }
    span:nth-of-type(3) {
      bottom: 0;
    }
  }
  .menu-trigger.active {
    span:nth-of-type(1) {
      -webkit-transform: translateY(20px) rotate(-45deg);
      transform: translateY(20px) rotate(-45deg);
      background-color: #fff;
    }
    span:nth-of-type(2) {
      opacity: 0;
    }
    span:nth-of-type(3) {
      -webkit-transform: translateY(-20px) rotate(45deg);
      transform: translateY(-20px) rotate(45deg);
      background-color: #fff;
    }
  }
}
// ナビゲーションメニュー
#nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: gray;
  opacity: 0.7;
  color: #fff;
  width: 20%;
  min-height: 100%;
  display: none;
  z-index: 2;  
  padding-top: 50px;
  .sp-link {
    li{
      text-align: center;
      margin-top: 30px;
      list-style: none;
      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
      }
      a:hover {
        color: lightgrey;
      }
    }
  }
  .sp-info {
    text-align: center;
    list-style: none;
    border: solid 2px;
    margin: 30px;
  }
}

// フッタ
footer {
  background-color: rgba(204, 80, 46, 1);
  .footer_content {
    display: flex;
    justify-content: center;
    .footer_link {
      padding: 20px;
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: lightgrey;
        background-color:  rgba(204, 80, 46, 0.1);
      }
    }
  }
}

// 新規会員登録画面
.inner {
  text-align: center;
  .customer_form {
    margin: 10px auto;
    height: 230px;
    tbody {
      tr {
        td:first-child {
          text-align: right;
          padding-right: 20px;
        }
      }
      .customer_form_submit {
        text-align: center;
      }
    }
  }
}

// ログイン画面
.login_form {
  margin-top: 25px;  
}

// カスタマー情報
.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.customer_image {
  text-align: center;
  margin: auto 0;
}

.customer_information {
  width: 500px;
  margin: auto 0;
  list-style: none;
  font-size: 15px;
  line-height: 30px;
}

.customer_status {
  width: 265px;
  font-size: 15px;
  margin: auto 0;
  ul {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    background-color: white;
    li {
      padding: 8px 0;
      border-bottom: 1px solid #f1f1f1;
      span:nth-child(2) {
        float: right;
        font-weight: bold;
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

// トップページ
.top_wrap {
  text-align: center;
  .top_title {
    margin: 0 5%;
    h1 {
      strong {
        color: rgba(204, 80, 46, 0.8);
        text-shadow: 2px 2px 3px lightgrey;
      }
    }
  }
  .top_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    .about_btn {
      margin-right: 20px;
    }
  }
}

.icon::before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid rgba(204, 80, 46, 0.7);  
  margin-left: 5%;
}

.customer_flex_container {
  width: 91%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  .top_customer_information_nav {
    width: 265px;
    margin: 10px;
    box-shadow: 0 0 3px gray;
  }
}

// aboutページ
.about_icon {
  margin-top: 50px;
  margin-bottom: 20px;
}
.about_icon::before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid rgba(204, 80, 46, 0.7);
}
.about_wrap {
  width: 80%;
  margin: 0 auto;
  .flow_wrap {
    margin-top: 20px;
    .experience_flow {
      display: flex;
      margin: 0 3%;
      table {
        text-align: center;
        .arrow {
          font-size: 15px;
          padding-top: 15px;
          padding-bottom: 15px;
        }
        .table_content {
          padding: 10px;
          border: dashed 1px;
        }
        th {
          font-size: 20px;
          text-align: center;
          empty-cells: show;
          padding-bottom: 10px;
        }
        tr {
          td {
            empty-cells: show;
            }
          td:first-child, td:last-child{
            width: 40%;
          }
          td:nth-child(2) {
            width: 20%;
          }
        }
      }
    }
  }
}

// 体験ボックス
.service_flex_container {
  width: 91%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.service_item {
  position: relative;
  width: 265px;
  background-color: white;
  margin: 10px;
  box-shadow: 0 0 3px gray;
  .service_image {
    width: 100%;
    height: 140px;
  }
  .service_point {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 70px;
    left: 3%;
    border-radius: 30px;
    background-color: #1E3039;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .customer_image {
    position: absolute;
    top: 102px;
    left: 38%;
    .img-circle {
      border: solid 3px white;
      background-color: white;
    }
    .img-circle:hover {
      opacity: 0.9;
    }
  }
  .customer_name {
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
  }
  .service_wrap {
    background-color: #FFA200;
    text-align: center;
    color: white;
    padding: 10px 15px;
    .service_catchphrase {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      span {
        font-size: 17px;
      }
    }
    .service_content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.customer_introduction {
  height: 25px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}

// 汎用ボタン関係
.btn_gray {
  color: #34495E;
  padding-top: 10px;
  span {
    display: inline-block;
    padding: 6px 12px;
    background-color: #EFF0F2;
    border-radius: 5px;
    border-bottom: 4px solid rgb(189, 195, 199);
    i {
      margin-right: 4px;
    }
    a {
      text-decoration: none;
      color: #34495E;
    }
    a:hover {
      opacity: 0.6;
    }
  }
}

.btn_red {
  padding-top: 10px;
  span {
    display: inline-block;
    padding: 6px 12px;
    background-color: #E74C3C;
    border-radius: 5px;
    border-bottom: 4px solid #d62c1a;
    i {
      margin-right: 4px;
      color: white;
    }
    a {          
      text-decoration: none;
      color: white;
    }
    a:hover {
      opacity: 0.6;
    }
  }
}

.btn_green {
  padding-top: 10px;
  span {
    display: inline-block;
    padding: 6px 12px;
    background-color: #2ECC71;
    border-radius: 5px;
    border-bottom: 4px solid green;
    i {
      margin-right: 4px;
      color: white;
    }
    a {          
      text-decoration: none;
      color: white;
    }
    a:hover {
      opacity: 0.6;
    }
  }
}

.submit_btn_green {
  padding-top: 10px;
  input {          
    color: white;
    padding: 6px 12px;
    background-color: #2ECC71;
    border-radius: 5px;
    border: none;
    border-bottom: 4px solid green;
  }
  input:hover {
    opacity: 0.6;
  }
}

.submit_btn_red {
  padding-top: 10px;
  input {          
    color: white;
    padding: 6px 12px;
    background-color: #E74C3C;
    border-radius: 5px;
    border: none;
    border-bottom: 4px solid #d62c1a;
  }
  input:hover {
    opacity: 0.6;
  }
}

// セクションタイトル部分
.section_title {
  margin: 30px auto;
  padding: 18px 0 5px;
  background: #4c4c4c;
  color: #FFF;
  width: 260px;
  text-align: center;
  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
  i {
    font-size: 16px;
  }
}

// 体験詳細画面
.service_show_container {
  display: flex;
  margin: 30px 3.7%;
  .service_detail {
    width: 65%;
    margin-right: 5%;
    .service_nav_wrap {
      box-shadow: 0 0 3px gray;
      .service_cover_image {      
        height: 420px;
        position: relative;
        width: 100%;
        .service_img {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0.9;
        }
        .service_cover_information {
          width: 100%;
          position: absolute;
          color: #FCFCF0;
          text-shadow: 1px 1px 5px #656565, -1px 1px 5px #656565, 1px -1px 5px #656565, -1px -1px 5px #656565;
          .service_place {         
            margin: 20px 0 5px;
            text-align: center;
            font-size: 18px;
          }
          .service_format {          
            margin: 5px 0;
            text-align: center;
            font-size: 14px;
          }
          .service_catchphrase {
            margin: 10px 0;
            text-align: center;
          }
          .customer_image {
            margin: 0 auto;
            margin-top: 10%;
            .img-circle {
              border: 5px solid white;
              background-color: white;
            }
            .img-circle:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
    .service_point {
      background-color: lightgoldenrodyellow;
      font-size: 36px;
      height: 80px;
      text-align: center;
      span {
        line-height: 80px;
      }
    }
    .service_detail_information {
      padding: 10px;
      background-color: white;
      dl {
        margin-top: 30px;
        dt {
          float: left;
          margin: 0 20px;
          padding: 10px 0;          
        }
        dd {
          border-top: 1px solid;
          padding: 10px 0 10px 55px;
        }
        dd:last-child {          
          border-bottom: 1px solid;
        }
      }
    }
  }
  .host_detail {
    width: 27.6%;
  }
}

// 体験利用、編集、削除リンク
.service_detail_btn {
  margin: 30px 0;
  .service_btn {
    display: flex;
    justify-content: center;
    .service_edit_btn {
      margin-right: 30px;
    }
  }
  p {
    margin: 0;
  }
}

// サービス詳細ページのホスト情報
.customer_information_nav {
  width: 100%;
  font-size: 15px;
  background-color: white;
  padding-top: 20px;
  .customer_profile_nav {
    text-align: center;
    a .customer_image_link:hover {
      opacity: 0.9;
    }
    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 3px;
    }
    }
  ul {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    li {
      padding: 8px 0;
      border-bottom: 1px solid #f1f1f1;
      span:nth-child(2) {
        float: right;
        font-weight: bold;
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

// 体験新規登録画面
.flex_service_container {
  display: flex;
  width: 90%;
  margin: 40px auto 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  .image_field {
    margin: auto 0;
    .image_attachment_field {
      margin-top: 10px;
    }
  }
  .service_add_form {
    margin: auto 0;
    height: 250px;
    tbody {
      tr {
        td:nth-child(2) {
          padding-left: 20px;
        }
      }
    }
  }
}
.add_service_btn {
  text-align: center;
}

// 申込状況一覧ページ
.flex_appointment_container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  .to_customer_service_information {
    .service_title {
      text-align: center;
    }
  }
  .from_customer_information {
    margin: auto 5%;
    text-align: center;
    .from_customer_title {
      text-align: center;
    }
    .from_customer_image {
      text-align: center;
    }
  }
  .btn_information {
    margin: auto 0;
  }
}

// 予約チャット画面
.apppointment_comment_wrap {
  text-align: center;
  .chat_lead_message {
    text-align: left;
    padding: 20px 30px;
    margin: 40px auto;
    width: 60%;
    background-color: white;
    border: dashed 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gainsboro;
  }
  .img-circle:hover {
    opacity: 0.9;
  }
  .apppointment_comment_content {
    width: 60%;
    margin: 20px auto;
    // 左からの吹き出し
    .left_balloon {
      position: relative;
      background: #fff;
      border: 1px solid #777;
      margin: 10px;
      padding: 10px;
      border-radius: 15px;
      margin-right: 20%;
      clear: both;
      max-width: 500px;
      float: left;
      text-align: left;
    }
    .left_balloon:after,
    .left_balloon:before {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    .left_balloon:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: 7px;
      margin-top: -7px;
    }
    .left_balloon:before {
      border-color: rgba(0, 0, 0, 0);
      border-right-color: #000;
      border-width: 8px;
      margin-top: -8px;
    }
    // 右からの吹き出し
    .right_balloon {
      position: relative;
      background: #85e249;
      border: 1px solid #777;
      margin: 10px;
      padding: 10px;
      border-radius: 15px;
      margin-left: 20%;
      clear: both;
      max-width: 500px;
      float: right;
      text-align: left;
    }
    .right_balloon:after,
    .right_balloon:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    .right_balloon:after {
      border-color: rgba(133, 226, 73, 0);
      border-left-color: #85e249;
      border-width: 7px;
      margin-top: -7px;
    }
    .right_balloon:before {
      border-color: rgba(119, 119, 119, 0);
      border-left-color: #777;
      border-width: 8px;
      margin-top: -8px;
    }
    // 割り込み削除
    .clear_balloon{
    clear: both;
    }
  }
  .comment_form {
    margin-top: 30px;
  }
}

// 体験利用申込画面
.appointment_form {
  width: 80%;
  margin: 40px auto 0;
  font-size: 16px;
  dl {
    dt {
      margin: 20px 0 10px;
    }
  }
}

// 申込完了画面
.appointment_complete {
  text-align: center;
  font-size: 16px;
}

// プロフィール編集画面
.profile_edit {
  width: 90%;
  margin: 40px auto;
  font-size: 16px;
  .profile_edit_form {
    display: flex;
    justify-content: space-around;
    .profile_edit_image {
      dd {
        margin: 5px 0 10px;
        span {
          margin-top: 30px;
        }
      }
    }
    .profile_edit_information {
      dd {
        margin: 5px 0 10px;
      }
    }
  }
  .profile_btn {
    display: flex;
    justify-content: center;    margin-top: 30px;
    .profile_update {
      margin-right: 30px;
    }
  }
}

// 退会確認画面
.unsubscribe_form {
  font-size: 16px;
  text-align: center;
  .unsubscribe_sentence {
    margin: 35px auto;
  }
  .unsubscribe_action_btn {
    display: flex;
    justify-content: center;
    .btn_withdraw {
      margin-right: 30px;
    }
  }
}

// コメント部分
.comment {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  table {
    font-size: 15px;
    border-collapse: collapse;
    border: solid 1px gray;
    margin: 0 10%;
    tr{
      th, td {
        text-align: center;
        padding: 5px;
        border: dashed 1px gray;
      }
      td:last-child {
        max-width: 640px;
        text-align: left;
      }
    }
  }
}

// ポイント獲得履歴画面
.history {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  table {
    border-collapse: collapse;
    border: solid 2px gray;
    margin: 40px;
    th, td {
      text-align: center;
      padding: 5px;
      border: dashed 1px gray;
    }
  }
}

// レスポンシブ対応
@media screen and (max-width: 1000px) {
  // ナビゲーションの表示範囲拡大
  #nav-menu {
    width: 40%;
  }
  // コメント表示
  .comment {
    table {
      margin: 0;
    }
  }
  @media screen and (max-width: 900px) {
    // 申込状況一覧のあなたの承認待ち
    .comming_appointment {
      .flex_appointment_container {
        .btn_information {
          width: 100%;
          display: flex;
          justify-content: center;
          .btn_green {
            margin-right: 20px;
          }
        }
      }
    }
    // プロフィール編集
    .profile_edit {
      .profile_edit_form {
        flex-direction: column;
        align-items: center;
      }
    }
    @media screen and (max-width: 800px) {
      // 体験詳細ページ
      .service_show_container {
        .service_detail {
          width: 100%;
          margin: 0;
        }
        .host_detail {
          display: none;
        }
        .service_detail_btn {
          text-align: center;
        }
      }
      @media screen and (max-width: 700px) {
        // 申込状況一覧のあなたの承認待ち
        .flex_appointment_container {
          justify-content: center;
        }
        .apppointment_comment_wrap {
          .chat_lead_message {
            width: 90%;
          }
          #appointment_comment_content {
            width: 90%;
          }
        }
        @media screen and (max-width: 630px) {
          // トップページ
          .top_wrap {
            .top_service_item {
              width: 43%;
              margin: 1.8em auto;
            }
            .top_customer_information_nav {
              width: 43% !important;
              margin: 1.8em auto !important;
            }
          }
          .customer_flex_container {
            justify-content: center;
          }
          // 申込状況一覧のあなたの承認待ち
          .comming_appointment {
            .flex_appointment_container {
              justify-content: center;
            }
          }
          // サービス一覧表示全体
          .service_flex_container {
            justify-content: center;
          }
          @media screen and (max-width: 600px) {
            .service_add_form {
              tbody {
                tr {
                  td {
                    width: 100%;
                    display: block;
                    margin-left: 5%;
                    #service_content {
                      width: 90%;
                    }
                  }
                }
              }
            }
            @media screen and (max-width: 500px) {
              // ナビゲーションの表示範囲拡大
              #nav-menu {
                width: 100%;
              }
              // ヘッダのWelcomeメッセージを非表示
              .welcome_header {
                display: none;
              }
              // トップページ
              .top_wrap {
                .top_service_item {
                  width: 70%;
                }
                .top_customer_information_nav {
                  width: 70% !important;
                }
              }
              // プロフィール編集ページ
              .profile_edit_information {
                width: 90%;
                textarea {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}